body {
    background-color: black;
    height: 100%;
    width: 100%;
}
.navigationIcon {
    width: 100px;
}
.navigationBar {
    height: 5%;
}
.displayMap {
    height: 95%;
}
#sidePannel {
    max-width: 400px;
    background-color: #e2e2e2;
}
@media only screen and (max-width: 600px) {
    #sidePannel {
        max-width: 100%;
    }
}