html, body {
    height: 100%;
    width: 100%;
    font-size: 20px;
}
body {
    background-color: black;
}
.navigationBar a {
    text-decoration: none;
}
.navigationIcon {
    width: 80px;
    height: 80px;
}
.navigationBar {
    height: 80px;
}
div.navigationIcon .icon
{
    margin: 0px;
    padding: 0px;
    width: 80px;
    height: 80px;
}
#profile {
    position: absolute;
    right: 0px;
}
#profile * {
    border-radius: 0px;
}